.*
.idea/
.dockerignore
Dockerfile
Vagrantfile
vagrant
docs
db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.gitlab-ci.yml
*,cover
*.log
.git
temp/
*.pgsql
*.pgdump
*.restore

*.pid
docs/output
node_modules
admin_ui