{% load static %}
<link as="script" href="{% static 'admin_ui/js/vendor.7ad5a15a.js'%}" rel="preload">
<link as="script" href="{% static 'admin_ui/js/admin-ui.5e9a9902.js'%}" rel="preload">

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="{% static 'admin_ui/js/vendor.7ad5a15a.js'%}"></script>
<script type="text/javascript" src="{% static 'admin_ui/js/admin-ui.5e9a9902.js'%}"></script>
